<pageheader pagename="Form" subtitle="Angular Material UI Elements"></pageheader>

<div class="content-wrapper" ng-animate=" 'animate' ">				
	<div layout="row" layout-sm="column">
		<div flex class="gridd2">
			<div class="panel-margin">
				<md-toolbar class="md-primary">
					<div class="md-toolbar-tools">
						<h2 class="md-flex">Default Form</h2>
					</div>
				</md-toolbar>
				<md-content layout-padding>
				
			        <md-input-container flex>
			          <label>Name</label>
			          <input ng-model="user.firstName">
			        </md-input-container>
			        <md-input-container flex>
			          <label>Email</label>
			          <input ng-model="theMax" type="email">
			        </md-input-container>
			        <md-checkbox aria-label="Checkbox 1">
				      	Remember Me
				    </md-checkbox>
			        <md-button class="md-raised md-background">Submit</md-button>
			    
				</md-content>
			</div>
		</div>
		<div flex>
			<div class="panel-margin">
				<md-toolbar class="md-accent">
					<div class="md-toolbar-tools">
						<h2 class="md-flex">No-float Form</h2>
					</div>
				</md-toolbar>
				<md-content layout-padding style="padding-top: 34px;">
				
			        <md-input-container md-no-float>
			          <input placeholder="Name">
			        </md-input-container>
			         <md-input-container md-no-float>
			          <input placeholder="Email">
			        </md-input-container>
			        <md-checkbox aria-label="Checkbox 1">
				      	Remember Me
				    </md-checkbox>
			        <md-button class="md-raised md-primary">Submit</md-button>
			    
				</md-content>
			</div>
		</div>
	</div>
	<div layout="row" layout-sm="column">
		<div flex class="gridd2">
			<div class="panel-margin">
				<md-toolbar class="md-warn">
					<div class="md-toolbar-tools">
						<h2 class="md-flex">Error Form</h2>
					</div>
				</md-toolbar>
				<md-content layout-padding>
				<form name="projectForm">
					<md-input-container>
					<label>Description</label>
					<input md-maxlength="30" required name="description" ng-model="project.description">
						<div ng-messages="projectForm.description.$error">
							<div ng-message="required">This is required.</div>
							<div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
						</div>
					</md-input-container>
					<md-input-container>
					<label>Client Name</label>
					<input required name="clientName" ng-model="project.clientName">
						<div ng-messages="projectForm.clientName.$error">
							<div ng-message="required">This is required.</div>
						</div>
					</md-input-container>
					<md-input-container>
					<label>Hourly Rate (USD)</label>
					<input required type="number" step="any" name="rate" ng-model="project.rate" min="800" max="4999">
						<div ng-messages="projectForm.rate.$error">
							<div ng-message="required">You've got to charge something! You can't just work for free.</div>
							<div ng-message="min">You should charge at least $800 an hour. This job is a big deal... if you mess up, everyone dies!</div>
							<div ng-message="max">$5,000 an hour? That's a little ridiculous. I doubt event Bill Clinton could afford that.</div>
						</div>
					</md-input-container>
				</form>
			       
			    
				</md-content>
			</div>
		</div>
		<div flex>
			<div class="panel-margin">
				<md-toolbar class="bg-success">
					<div class="md-toolbar-tools">
						<h2 class="md-flex">Icon Form</h2>
					</div>
				</md-toolbar>
				<md-content layout-padding style="padding-top: 34px;">
					<md-input-container class="md-icon-float" >
						<label>Name</label>
						<md-icon md-svg-src="images/icons/social/svg/production/ic_person_48px.svg" class="name"></md-icon>
						<input ng-model="user.name" type="text">
					</md-input-container>
					<md-input-container md-no-float>
						<md-icon md-svg-src="images/icons/communication/svg/production/ic_phone_48px.svg"></md-icon>
						<input ng-model="user.phone" type="text" placeholder="Phone Number">
					</md-input-container>
					<md-input-container >
						<md-icon md-svg-src="images/icons/communication/svg/production/ic_email_48px.svg" class="email"></md-icon>
						<input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
					</md-input-container>
					<md-input-container md-no-float>
						<md-icon md-svg-src="images/icons/maps/svg/production/ic_place_48px.svg" style="display:inline-block;"></md-icon>
						<input ng-model="user.address" type="text" placeholder="Address" >
					</md-input-container>		       
			    
				</md-content>
			</div>
		</div>
	</div>
</div>