<div id="app-container">
    <topnav></topnav>
    <sidenav></sidenav>
	<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
	    <md-toolbar class="md-theme-light">
	        <h1 class="md-toolbar-tools">Welcome Sanket!</h1>
	    </md-toolbar>
	    <md-content>
	      	<ul class="right-nav">
	            <li ng-class="{active: $state.includes('profile')}"><md-button ui-sref="profile" ng-click="close()">Profile</md-button>
	            </li>
	            <li ng-class="{active: $state.includes('login')}"><md-button ui-sref="login" ng-click="close()">Logout</md-button>
	            </li>
	            <li ng-class="{active: $state.includes('login')}"> <md-button ng-click="close()">Close Sidenav</md-button>
	            </li>
		    </ul>    
	    </md-content>
	</md-sidenav>
    <div id="body-container">
        <div ui-view class="main-view"></div>
    </div>
</div>
