<pageheader pagename="Alerts" subtitle="Angular Material UI Elements"></pageheader>

<div class="content-wrapper" ng-controller="AlertDemoCtrl">	
	
		<div layout="row" layout-sm="column">	
			<div class="panel-margin gridd2" flex>
				<md-toolbar class="md-primary">
					<div class="md-toolbar-tools">
						<h2 class="md-flex">Toast</h2>
					</div>
				</md-toolbar>
				<md-content class="md-padding" style="height: 120px;" layout="row" layout-align="center center">
					<md-button class="md-raised" ng-click="showSimpleToast()">
					Show Simple
					</md-button>
					<md-button class="md-raised" ng-click="showActionToast()">
					Show With Action
					</md-button>
					<md-button class="md-raised" ng-click="showCustomToast()">
					Show Custom
					</md-button>
					<md-button class="md-raised" ng-click="showCustomToast()">
					Show Custom
					</md-button>
				</md-content>
			</div>
			<div class="panel-margin" flex >
				<md-toolbar class="md-accent md-hue-2">
					<div class="md-toolbar-tools">
						<h2 class="md-flex">Tooltip</h2>
					</div>
				</md-toolbar>
				<md-content layout-padding style="height: 120px;" class="text-center">
					<md-button class="md-fab md-warn md-hue-2" aria-label="Insert Drive">
					<md-icon md-svg-src="images/icons/image/svg/production/ic_color_lens_48px.svg" style="width: 24px; height: 24px;"></md-icon>
						<md-tooltip>
						Choose Palette
						</md-tooltip>
					</md-button>
					<md-button class="md-fab right" aria-label="Photos">
						<md-icon md-svg-src="images/icons/maps/svg/production/ic_local_see_48px.svg" style="width: 24px; height: 24px;"></md-icon>
						<md-tooltip>
						Photos
						</md-tooltip>
					</md-button>
               
				</md-content>
			</div>	
		
		</div>	
		<div layout="row" layout-sm="column">	
	
		
			<div class="panel-margin" ng-controller="bottomCtrl" flex>
				<md-toolbar class="md-warn">
					<div class="md-toolbar-tools">
						<h2 class="md-flex">Bottom Sheet</h2>
					</div>
				</md-toolbar>
				<md-content layout-padding>
					<md-button class="md-primary md-raised" ng-click="showListBottomSheet($event)">Show as List
					</md-button>
					<md-button class="md-primary md-raised" ng-click="showGridBottomSheet($event)">Show as Grid
					</md-button>
					<div ng-if="alert">
						<br/>
						<b layout="row" layout-align="center center" class="md-padding">
					{{alert}}
						</b>
					</div>	
				</md-content>
			</div>
		</div>	
</div>