<pageheader pagename="Navbar & Dropdowns" subtitle="Angular Material UI Elements"></pageheader>

<div class="content-wrapper">
    <div layout="row" layout-sm="column">
        <div flex class="gridd2">
            <div class="panel-margin">
                <md-toolbar class="bg-info">
                    <div class="md-toolbar-tools">
                        <h2 class="md-flex">Select</h2>
                    </div>
                </md-toolbar>
                <md-content layout-padding layout-align="center center" layout="column" flex>
                    <md-select placeholder="Pick" ng-model="someVal">
                        <md-option value="1">One</md-option>
                        <md-option value="2">Two</md-option>
                        <md-option value="3">Three</md-option>
                        <md-option value="4">Four</md-option>
                    </md-select>
                    <span class="md-caption caption-span">This is a dropdown.</span>
                </md-content>
            </div>    
        </div>
        <div flex>
            <div class="panel-margin">
                <md-toolbar class="md-primary">
                    <div class="md-toolbar-tools">
                        <h2 class="md-flex">Select with Option Groups</h2>
                    </div>
                </md-toolbar>
                <md-content layout-padding layout-align="center center" layout="column">
                <md-select ng-model="favoriteTopping" placeholder="Favorite Topping">
                    <md-optgroup label="Meats">
                        <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'meat' }">{{topping.name}}</md-option>
                    </md-optgroup>
                    <md-optgroup label="Veggies">
                        <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'veg' }">{{topping.name}}
                        </md-option>
                    </md-optgroup>
                </md-select>
                    <span class="md-caption caption-span">{{ favoriteTopping ? 'Your favorite topping is ' + favoriteTopping : 'Please select a topping'}}</span>
                </md-content>
            </div>    
        </div> 
    </div> 
    <div layout="row" layout-sm="column">
        <div flex class="gridd2">
            <div class="panel-margin">
                <md-toolbar class="bg-primary">
                    <div class="md-toolbar-tools">
                        <h2 class="md-flex">Select</h2>
                    </div>
                </md-toolbar>
                <md-content layout-padding layout-align="center center" layout="column">
                <md-select ng-model="user" md-on-open="loadUsers()" style="min-width: 200px;">
                    <md-select-label>{{ user ? user.name : 'Assign to user' }}</md-select-label>
                    <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
                </md-select>
                    <span class="md-caption caption-span">You have assigned the task to: {{ user ? user.name : 'No one yet' }}</span>
                </md-content>
            </div> 
        </div>
        <div flex>
            <div class="panel-margin">
                <md-toolbar class="bg-danger">
                    <div class="md-toolbar-tools">
                        <h2 class="md-flex">Select</h2>
                    </div>
                </md-toolbar>
                <md-content layout-padding layout-align="center center" layout="column">
               
                    <md-input-container>
                        <md-select name="myModel" placeholder="Pick" ng-model="myModel" required>
                            <md-option value="1">One</md-option>
                            <md-option value="2">Two</md-option>
                        </md-select>
                        <div class="errors" ng-messages="myForm.myModel.$error" ng-if="myForm.$dirty">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>
                    <md-button ng-click="clearValue()" ng-disabled="!myModel" style="margin-right: 20px;">Clear</md-button>
                        <md-button ng-click="save()" ng-disabled="myForm.$invalid" class="md-primary" layout layout-align="center end">Save</md-button>
                              
                </md-content>
            </div> 
        </div>
    </div> 
</div>
