<div id="new-overlay">
		<div class="img-box">
			<img src="images/logo.png" alt="" class="login-img">
		</div>
	<div class="login-wrap md-whiteframe-z2">
		<div class="text-fields">
			<md-content layout-padding >				
				<md-input-container flex>
					<label>Name</label>
					<input >
				</md-input-container>
				<md-input-container flex>
					<label>Password</label>
					<input type="password">
				</md-input-container>
				<md-checkbox aria-label="Checkbox 1">
				Remember Me
				</md-checkbox>
				<md-button class="md-raised md-primary" ng-click="submit()">Login</md-button><span class="link"><md-button class="md-primary" ui-sref="signup">Signup here</md-button></span>
			</md-content>
		</div>
	</div>
	<div class="float-container">
		<span class="social">Social Login</span>
		<nav mfb-menu position="tr" effect="slidein-spring" class="main" active-icon="mdi mdi-minus" resting-icon="mdi mdi-account-key" toggling-method="click">
		<button mfb-button icon="mdi mdi-facebook" class="fb" label="Facebook"></button>
		<button mfb-button icon="mdi mdi-twitter" class="tw" label="Twitter"></button>
		<button mfb-button icon="mdi mdi-google-plus" class="gp" label="Google Plus"></button>
		</nav>
	</div>
</div>


