<div>
    <div class="tab-pane active" id="menu">
        
        <div class="section-heading">Menus</div>
        <div id="scroll-bar2">
            <ul class="nav sidebar-nav">
                <li ng-class="{active: $state.includes('home')}"><md-button ui-sref="home" ng-click="showMenu(); showSubNav(0)"><i class="fa fa-home"></i>{{ 'dashboard' | translate }}</md-button>
                </li>
                <li class="sidenav-dropdown" ng-class="{'show-subnav': showingSubNav=='uiElements'}">
                    <md-button class="subnav-toggle" href="" ng-click="showSubNav('uiElements')"><i class="fa fa-toggle-off"></i>{{ 'uielements' | translate }}</md-button>
                    <ul class="nav sidenav-sub-menu" collapse="showingSubNav!='uiElements'">
                        <li ng-class="{active: $state.includes('button')}"><md-button ng-click="showMenu()" ui-sref="button"><i class="fa fa-circle-o"></i> {{ 'buttons' | translate }}</md-button></li>
                        <li ng-class="{active: $state.includes('dropdown')}"><md-button ng-click="showMenu()" ui-sref="dropdown"><i class="fa fa-arrows-v"></i> {{ 'dropdown' | translate }}</md-button></li>
                        <li ng-class="{active: $state.includes('other-elements')}"><md-button ng-click="showMenu()" ui-sref="other-elements"><i class="fa fa-flag-o"></i> {{ 'sliders' | translate }}</md-button></li>
                        <li ng-class="{active: $state.includes('progressbars')}"><md-button ng-click="showMenu()" ui-sref="progressbars"><i class="fa fa-angle-double-right"></i> {{ 'progressbars' | translate }}</md-button></li>
                        <li ng-class="{active: $state.includes('alert')}"><md-button ng-click="showMenu()" ui-sref="alert"><i class="fa fa-warning"></i> {{ 'alerts' | translate }}</md-button></li>
                        <li ng-class="{active: $state.includes('modal')}"><md-button ng-click="showMenu()" ui-sref="modal"><i class="fa fa-square-o"></i> {{ 'dialog' | translate }}</md-button></li>
                        <li ng-class="{active: $state.includes('collapse')}"><md-button ng-click="showMenu()" ui-sref="collapse"><i class="fa fa-align-justify"></i> {{ 'tabs' | translate }}</md-button></li>
                    </ul>
                </li>
                <li  ng-class="{active: $state.includes('panel')}"><md-button ui-sref="panel" ng-click="showMenu(); showSubNav(0)"><i class="fa fa-bookmark-o"></i> {{ 'panels' | translate }}</md-button></li>
                <li ng-class="{active: $state.includes('table')}"><md-button ui-sref="table" ng-click="showMenu(); showSubNav(0)"><i class="fa fa-table"></i> {{ 'table' | translate }}</md-button></li>            
                <li class="sidenav-dropdown" ng-class="{'show-subnav': showingSubNav=='chart'}">
                    <md-button class="subnav-toggle" href="" ng-click="showSubNav('chart')"><i class="fa fa-area-chart"></i> {{ 'charts' | translate }} </md-button>
                    <ul class="nav sidenav-sub-menu" collapse="showingSubNav!='chart'">
                        <li ng-class="{active: $state.includes('chartjs')}"><md-button ng-click="showMenu()" ui-sref="chartjs"><i class="fa fa-line-chart"></i> Chart.js</md-button></li>
                        <li ng-class="{active: $state.includes('c3chart')}"><md-button ng-click="showMenu()" ui-sref="c3chart"><i class="fa fa-bar-chart"></i> C3.js</md-button></li>
                    </ul>
                </li>         
                <li ng-class="{active: $state.includes('invoice')}"><md-button ui-sref="invoice" ng-click="showMenu(); showSubNav(0)"><i class="fa fa-newspaper-o"></i> {{ 'invoice' | translate }}</md-button>
                </li> 
                <li class="sidenav-dropdown" ng-class="{'show-subnav': showingSubNav=='mail'}">
                    <md-button class="subnav-toggle" href="" ng-click="showSubNav('mail')"><i class="fa fa-pencil"></i> {{ 'mail' | translate }} </md-button>
                    <ul class="nav sidenav-sub-menu" collapse="showingSubNav!='mail'">
                        <li ng-class="{active: $state.includes('inbox')}"><md-button ng-click="showMenu()" ui-sref="inbox"><i class="fa fa-inbox"></i> {{ 'inbox' | translate }}</md-button></li>
                        <li ng-class="{active: $state.includes('compose')}"><md-button ng-click="showMenu()" ui-sref="compose"><i class="fa fa-pencil-square-o"></i> {{ 'compose' | translate }}</md-button></li>
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('calendar')}"><md-button ui-sref="calendar" ng-click="showMenu(); showSubNav(0)"><i class="fa fa-calendar"></i> {{ 'calendar' | translate }}</md-button>
                </li>
                <li class="sidenav-dropdown" ng-class="{'show-subnav': showingSubNav=='form'}">
                    <md-button class="subnav-toggle" href="" ng-click="showSubNav('form')"><i class="fa fa-file-text-o"></i> {{ 'form' | translate }} </md-button>
                    <ul class="nav sidenav-sub-menu" collapse="showingSubNav!='form'">
                        <li ng-class="{active: $state.includes('elements')}"><md-button ng-click="showMenu()" ui-sref="elements"><i class="fa fa-edit"></i> {{ 'elements' | translate }}</md-button></li>
                        <li ng-class="{active: $state.includes('components')}"><md-button ng-click="showMenu()" ui-sref="components"><i class="fa fa-keyboard-o"></i> {{ 'components' | translate }}</md-button></li>
                    </ul>
                </li>           
                <li ng-class="{active: $state.includes('login')}"><md-button ui-sref="login"><i class="fa fa-sign-in"></i> {{ 'login' | translate }}</md-button>
                </li>
                <li ng-class="{active: $state.includes('404-page')}"><md-button ui-sref="404-page"><i class="fa fa-exclamation-circle"></i> {{ '404page' | translate }}</md-button>
                </li>
                <li ng-class="{active: $state.includes('blank')}"><md-button ui-sref="blank" ng-click="showMenu(); showSubNav(0)"><i class="fa fa-file-o"></i> {{ 'blankpage' | translate }}</md-button>
                </li>
                <li ng-class="{active: $state.includes('docs')}"><md-button ui-sref="docs" ng-click="showMenu(); showSubNav(0)"><i class="fa fa-file-o"></i>Docs</md-button>
                </li>
            </ul>
        </div>
    </div>
</div>