<div class="content-wrapper">
	<div class="container-fluid">
		<md-grid-list md-cols-sm="1" md-cols-lg="2" md-cols-md="2" md-cols-gt-md="4"
        md-row-height-gt-md="160px" md-row-height="160px"
        md-gutter="20px" md-gutter-gt-sm="25px" >
        	<md-grid-tile class="bg-info md-whiteframe" md-rowspan="2" md-rowspan-sm="2" >
				<div class="relative stats">
					<div class="absolute md-profile">
						<div class="cover">
						</div>
						<div class="sanket">
							<a ui-sref="profile"><img src="images/profile1.jpg" class="img-circle img-sanket md-whiteframe-z3" alt=""></a>
						</div>
						<div class="description">
							<div class="name">
							Sanket K
							</div>
							<div class="desg">
								 <i class="mdi mdi-apple"></i> {{'ceo' | translate}} <br /> <i class="mdi mdi-map-marker"></i> Bengaluru, India
							</div>
							<div class="connect-btns pull-right">
								<md-button class="md-fab md-mini md-icon-button md-primary" aria-label="Settings">
									<i class="mdi mdi-facebook"></i>
								</md-button>  
								<md-button class="md-fab md-mini md-icon-button bg-primary" aria-label="Settings">
									<i class="mdi mdi-twitter"></i>
								</md-button> 
									<md-button class="md-fab md-mini md-icon-button bg-danger" aria-label="Settings">
									<i class="mdi mdi-google-plus"></i>
								</md-button>  
							</div>
						</div>
					</div>
				</div>
			</md-grid-tile>			
			
			
			<md-grid-tile class=" md-whiteframe">
				<div class="relative stats" relink-event="resize">
					<md-button class="absolute" ui-sref="chartjs">
						<div id="container">
							  <canvas width='250' height='110' id="hero-bar" class="chart chart-line" data="data" options="options" labels="labels" colours="colors"></canvas>
     					</div>
					</md-button>
				</div>	
			</md-grid-tile>	

			<md-grid-tile class="bg-info md-whiteframe" >
				<div class="relative stats">
					<md-button class="absolute" ng-click="profile()">
						<stats icon="thumb-up" header="{{ 'likes' | translate }}" number="415" comment="{{ 'perday' | translate }}"></stats>
					</md-button>
				</div>
			</md-grid-tile>	
			
			<md-grid-tile class="bg-primary md-whiteframe" md-colspan-md="">
				<div class="relative stats">
					<md-button class="absolute" ng-click="invoice()">
						<stats icon="windows" header="{{ 'newapps' | translate }}" number="88%" comment="{{ 'accepted' | translate }}"></stats>
					</md-button>
				</div>	
			</md-grid-tile>	
			

			<md-grid-tile class="md-whiteframe" md-rowspan="2">
				<div class="relative stats">
					<div class="absolute">
						<todolist></todolist>
					</div>
				</div>
			</md-grid-tile>	

			<md-grid-tile class="bg-green md-whiteframe" md-rowspan="2" >
				<div class="relative stats">
					<div class="absolute climate">
					<div class="svg-container">
					<svg version="1.1" id="cloudHailAltFill" class="climacon climacon_cloudHailAltFill" viewBox="15 15 70 70">
					    <g class="climacon_iconWrap climacon_iconWrap-cloudHailAltFill">
					      <g class="climacon_wrapperComponent climacon_wrapperComponent-hailAlt">
					        <g class="climacon_component climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-left">
					          <circle cx="42" cy="65.498" r="2"></circle>
					        </g>
					        <g class="climacon_component climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-middle">
					          <circle cx="49.999" cy="65.498" r="2"></circle>
					        </g>
					        <g class="climacon_component climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-right">
					          <circle cx="57.998" cy="65.498" r="2"></circle>
					        </g>
					        <g class="climacon_component climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-left">
					          <circle cx="42" cy="65.498" r="2"></circle>
					        </g>
					        <g class="climacon_component climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-middle">
					          <circle cx="49.999" cy="65.498" r="2"></circle>
					        </g>
					        <g class="climacon_component climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-right">
					          <circle cx="57.998" cy="65.498" r="2"></circle>
					        </g>
					      </g>
					      <g class="climacon_componentWrap climacon_componentWrap_cloud">
					        <path class="climacon_component climacon_component-stroke climacon_component-stroke_cloud" d="M43.945,65.639c-8.835,0-15.998-7.162-15.998-15.998c0-8.836,7.163-15.998,15.998-15.998c6.004,0,11.229,3.312,13.965,8.203c0.664-0.113,1.338-0.205,2.033-0.205c6.627,0,11.998,5.373,11.998,12c0,6.625-5.371,11.998-11.998,11.998C57.168,65.639,47.143,65.639,43.945,65.639z"></path>
					        <path class="climacon_component climacon_component-fill climacon_component-fill_cloud" fill="#FFFFFF" d="M59.943,61.639c4.418,0,8-3.582,8-7.998c0-4.417-3.582-8-8-8c-1.601,0-3.082,0.481-4.334,1.291c-1.23-5.316-5.973-9.29-11.665-9.29c-6.626,0-11.998,5.372-11.998,11.999c0,6.626,5.372,11.998,11.998,11.998C47.562,61.639,56.924,61.639,59.943,61.639z"></path>
					      </g>
					    </g>
					 </svg>
					</div>
					<div class="temp-container">	
					<div class="temp">27&deg;C </div>
					<div class="place"><i class="mdi mdi-map-marker"></i> Bengaluru, India</div>
					</div>	
					</div>
				</div>
			</md-grid-tile>	
			
			<md-grid-tile class="md-whiteframe" style="background:#E91E63;">
				<div class="relative stats">
					<md-button class="absolute" ng-click="togglePercent()">
						<div class="comment-text">{{'live' | translate}}</div>
						 <div easypiechart options="options" percent="percent" class="easypie"><div class="pie-text">{{percent}}%</div></div>
					</md-button>
				</div>
			</md-grid-tile>

			<md-grid-tile class="bg-danger md-whiteframe">
				<div class="relative stats">
					<md-button class="absolute">
						<div class="icon-box">
						    <i class="mdi mdi-camera"></i>
						    <span>{{'26photos' | translate}}</span>
						</div>
						<md-progress-linear md-mode="indeterminate" class="md-warn"></md-progress-linear>
						<div class="comments-box">
						    <span class="numbers">15.6</span>
						    <div class="comments">{{'download' | translate}}</div>
						</div>
					</md-button>
				</div>
			</md-grid-tile>	
			<md-grid-tile class="bg-warning md-whiteframe" >
				<div class="relative stats">
					<md-button class="absolute">
						<stats icon="account-plus" header="{{ 'totalusers' | translate }}" number="23" comment="{{ 'newusers' | translate }}"></stats>
					</md-button>
				</div>	
			</md-grid-tile>	
		</md-grid-list>
		<div layout="row" layout-sm="column" layout-md="column" layout-align="top center" style="margin-top: 25px;">
			<div  flex class="gridd">
				<div relink-event="resize" class="md-whiteframe" ng-if="expression">

						<div id="grid1" ui-grid="{ data: myData }" class="grid"></div>						
				</div>
			</div>		
			<div class="md-whiteframe calenddar" flex>
				<div class="calendar" ng-init="render()" relink-event="resize">
					<div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
				</div>
			</div>
		</div>
			
		

	</div>
</div>
