<pageheader pagename="Panel" subtitle="Angular Material UI Elements"></pageheader>
<div class="content-wrapper">				
	
		<div layout="row" layout-sm="column">
			<div class="panel-margin gridd2" flex>
				<md-toolbar class="md-primary">
					<div class="md-toolbar-tools">
						<h2 class="md-flex">Primary Panel</h2>
					</div>
				</md-toolbar>
				<md-content class="md-padding">
					<p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.</p>					
				</md-content>
			</div>
		
			
			<div class="panel-margin gridd2" flex>
				<md-toolbar class="md-accent">
					<div class="md-toolbar-tools">
						<h2 class="md-flex">Accent Panel</h2>
					</div>
				</md-toolbar>
				<md-content class="md-padding">
					<p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.</p>					
				</md-content>
			</div>
		
		
			<div class="panel-margin" flex>
				<md-toolbar class="md-warn">
					<div class="md-toolbar-tools">
						<h2 class="md-flex">Warning Panel</h2>
					</div>
				</md-toolbar>
				<md-content class="md-padding">
					<p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.</p>					
				</md-content>
			</div>
		</div>	
	
		<div layout="row" layout-sm="column">
			<div class="panel-margin gridd2" flex>
				<md-toolbar class="bg-primary">
					<div class="md-toolbar-tools">
						<h2 class="md-flex">Primary Panel</h2>
					</div>
				</md-toolbar>
				<md-content class="md-padding">
					<p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.</p>					
				</md-content>
			</div>
		
			
			<div class="panel-margin gridd2" flex>
				<md-toolbar class="bg-success">
					<div class="md-toolbar-tools">
						<h2 class="md-flex">Accent Panel</h2>
					</div>
				</md-toolbar>
				<md-content class="md-padding">
					<p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.</p>					
				</md-content>
			</div>
		
		
			<div class="panel-margin" flex>
				<md-toolbar class="bg-warning">
					<div class="md-toolbar-tools">
						<h2 class="md-flex">Warning Panel</h2>
					</div>
				</md-toolbar>
				<md-content class="md-padding">
					<p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.</p>					
				</md-content>
			</div>
		</div>
		
</div>
