<div class="profile-back"> 
    
        <div class="content-wrapper" ng-controller="proCtrl">
            <div class="profile-top">
                <md-button class="pull-right ref" ng-click="refresh()">
                    <md-icon md-svg-icon="images/icons/navigation/svg/production/ic_refresh_48px.svg"></md-icon>
                </md-button>
                <div class="profile-header">
                    <div class="header-bar">
                    </div>  
                    <div class="header-body">
                        <img src="images/profile1.jpg" class="img-circle md-whiteframe-z2 sanket-inside" alt="">
                        <div class="sanket-profile">
                            Kumar Sanket <br />
                            <span class="pl"><i class="mdi mdi-map-marker"></i> Bangalore, India</span>
                        </div>
                    </div>
                    <div class="tabs">
                        <md-content class="md-whiteframe-z2">
                            <md-tabs md-dynamic-height md-border-bottom>
                                <md-tab label="TimeLine">
                                    <md-content class="md-padding">                                       
                                            <md-input-container class="md-icon-float" >
                                            <label>What's on your mind?</label>
                                            <md-icon md-svg-src="images/icons/content/svg/production/ic_send_48px.svg"></md-icon>
                                            <input ng-model="user.name" type="text">
                                            </md-input-container>
                                        
                                        
                                            <md-content class="card md-whiteframe-z1">
                                                <md-content class="card-header md-whiteframe-z2" layout-padding>
                                                    <div class="card-left">
                                                        <img src="images/profile1.jpg" alt="" class="img-circle sanket-header">
                                                    </div>
                                                    <div class="card-right">
                                                        <div class="sanket-name"> Sanket K</div>
                                                        <div class="sanket-time">12 minutes ago &nbsp; <i class="mdi mdi-account-multiple"></i> </div>
                                                    </div>    
                                                </md-content>
                                                <md-content class="card-content md-whiteframe-z1">
                                                    <img src="images/05.jpg" alt="" class="img-res1">
                                                </md-content>
                                            </md-content>

                                             <md-content class="card md-whiteframe-z1">
                                                <md-content class="card-header md-whiteframe-z2" layout-padding>
                                                    <div class="card-left">
                                                        <img src="images/profile1.jpg" alt="" class="img-circle sanket-header">
                                                    </div>
                                                    <div class="card-right">
                                                        <div class="sanket-name"> Sanket K</div>
                                                        <div class="sanket-time">3 hours ago &nbsp; <i class="mdi mdi-account-multiple"></i> </div>
                                                    </div>    
                                                </md-content>
                                                <md-content class="card-content md-whiteframe-z1 md-padding">
                                                    <div class="sanket-status">
                                                        Sometimes I feel like just saying I love you isn't strong enough to express how much I love you.
                                                    </div>
                                                </md-content>
                                            </md-content>                        
                                    </md-content>
                                </md-tab>
                                <md-tab label="Profile">
                                    <md-content class="md-padding">
                                        <div class="profile-content">
                                           <div class="summary">
                                                <h3> <i class="mdi mdi-chart-bar"></i> Summary</h3>
                                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, autem similique consequuntur nihil tempora sequi quisquam a temporibus.
                                           </div>
                                           <div class="information">
                                               <h3><i class="mdi mdi-account"></i> Basic Information</h3>
                                                <table class="info-table">
                                                    <tr>
                                                        <td class="bold">Full Name</td>
                                                        <td>Sanket K</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="bold">Gender</td>
                                                        <td>Male</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="bold">Birthday</td>
                                                        <td>June 23 1990</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="bold">Martial Status</td>
                                                        <td>Single</td>
                                                    </tr>
                                                </table>
                                           </div>
                                           <div class="information">
                                               <h3><i class="mdi mdi-phone"></i> Contact Information</h3>
                                                <table class="info-table">
                                                    <tr>
                                                        <td class="bold">Mobile Phone</td>
                                                        <td>9958601853</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="bold">Email Address</td>
                                                        <td>sanket@sahusoft.com</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="bold">Twitter</td>
                                                        <td>@ksanket</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="bold">Skype</td>
                                                        <td>Sanket</td>
                                                    </tr>
                                                </table>
                                           </div>

                                        </div>
                                    </md-content>
                                </md-tab>
                                <md-tab label="Friends">
                                    <md-content class="md-padding">
                                        <div class="img-friends text-center">
                                            <img src="images/varun_kumar_sahu.jpg" alt="" class="img-circle md-whiteframe-z2">
                                            <img src="images/kumar_pratik.jpg" alt="" class="img-circle md-whiteframe-z2">
                                            <img src="images/atul_ranjan.jpg" alt="" class="img-circle md-whiteframe-z2">
                                            <img src="images/megha_kumari.jpg" alt="" class="img-circle md-whiteframe-z2">
                                            <img src="images/saurabh_sahu.jpg" alt="" class="img-circle md-whiteframe-z2">
                                            <img src="images/apoorva_sahu.jpg" alt="" class="img-circle md-whiteframe-z2">
                                        </div>
                                    </md-content>
                                </md-tab>
                            </md-tabs>
                        </md-content>
                    </div>
                </div>
            </div>
            <div class="profile-card">
                <div class="profile-body">
                    <div class="friend-list text-center">
                        <h3 style="color:white;">Connections</h3>
                        <img src="images/varun_kumar_sahu.jpg" alt="" class="img-circle md-whiteframe-z2">
                        <img src="images/kumar_pratik.jpg" alt="" class="img-circle md-whiteframe-z2">
                        <img src="images/atul_ranjan.jpg" alt="" class="img-circle md-whiteframe-z2">
                        <img src="images/megha_kumari.jpg" alt="" class="img-circle md-whiteframe-z2">
                        <img src="images/saurabh_sahu.jpg" alt="" class="img-circle md-whiteframe-z2">
                        <img src="images/apoorva_sahu.jpg" alt="" class="img-circle md-whiteframe-z2">
                    </div>
                    <div class="info-card">
                        <div class="info-line">
                            <i class="mdi mdi-briefcase"></i> &nbsp;   Owner at <strong> Sahusoft.</strong>
                        </div>
                        <div class="info-line">
                            <i class="mdi mdi-cake"></i> &nbsp;  Born on <strong> June 23 1990</strong>
                        </div> 
                        <div class="info-line">
                            <i class="mdi mdi-heart"></i> &nbsp; In a relationship with <strong> Mila Kunis.</strong>
                        </div>
                        <div class="info-line">
                           <i class="mdi mdi-rss"></i> &nbsp; <strong> 36,451</strong> Followers
                        </div> 
                        <div class="info-line">
                            <i class="mdi mdi-thumb-up"></i> &nbsp; <strong> 6.5m</strong> Likes
                        </div>     
                    </div>
                </div>
            </div>            
        </div>
   
</div>