<pageheader pagename="Table" subtitle="Angular Material UI Elements"></pageheader>
<div class="content-wrapper">				
	<div layout="row" layout-sm="column">
		<div class="gridd2" flex>
			<div class="panel-margin">
				<md-toolbar class="bg-primary">
					<div class="md-toolbar-tools">
						<h2 class="md-flex">Regular Table</h2>
					</div>
				</md-toolbar>
				<md-content layout-padding>
					<table class="table ">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Address</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>John</td>
								<td>john@gmail.com</td>
								<td>London, UK</td>
							</tr>
							<tr>
								<td>Andy</td>
								<td>andygmail.com</td>
								<td>Merseyside, UK</td>
							</tr>
							<tr>
								<td>Frank</td>
								<td>frank@gmail.com</td>
								<td>Southampton, UK</td>
							</tr>
						</tbody>
					</table>			
				</md-content>
			</div>
		</div>
		<div class="" flex>
			<div class="panel-margin">
				<md-toolbar class="md-accent">
					<div class="md-toolbar-tools">
						<h2 class="md-flex">Bordered Table</h2>
					</div>
				</md-toolbar>
				<md-content layout-padding>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Address</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>John</td>
								<td>john@gmail.com</td>
								<td>London, UK</td>
							</tr>
							<tr>
								<td>Andy</td>
								<td>andygmail.com</td>
								<td>Merseyside, UK</td>
							</tr>
							<tr>
								<td>Frank</td>
								<td>frank@gmail.com</td>
								<td>Southampton, UK</td>
							</tr>
						</tbody>
					</table>	
				</md-content>
			</div>
		</div>
	</div>
	<div layout="row" layout-sm="column">
		<div class="gridd2" flex>
			<div class="panel-margin">
				<md-toolbar class="bg-success">
					<div class="md-toolbar-tools">
						<h2 class="md-flex">Striped Table</h2>
					</div>
				</md-toolbar>
				<md-content layout-padding>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Address</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>John</td>
								<td>john@gmail.com</td>
								<td>London, UK</td>
							</tr>
							<tr>
								<td>Andy</td>
								<td>andygmail.com</td>
								<td>Merseyside, UK</td>
							</tr>
							<tr>
								<td>Frank</td>
								<td>frank@gmail.com</td>
								<td>Southampton, UK</td>
							</tr>
						</tbody>
					</table>			
				</md-content>
			</div>
		</div>
		<div class="" flex>
			<div class="panel-margin">
				<md-toolbar class="md-primary">
					<div class="md-toolbar-tools">
						<h2 class="md-flex">Hover Table</h2>
					</div>
				</md-toolbar>
				<md-content layout-padding>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Address</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>John</td>
								<td>john@gmail.com</td>
								<td>London, UK</td>
							</tr>
							<tr>
								<td>Andy</td>
								<td>andygmail.com</td>
								<td>Merseyside, UK</td>
							</tr>
							<tr>
								<td>Frank</td>
								<td>frank@gmail.com</td>
								<td>Southampton, UK</td>
							</tr>
						</tbody>
					</table>			
				</md-content>
			</div>
		</div>
	</div>
	<div layout="row" layout-sm="column">
		<div class="gridd2" flex>
			<div class="panel-margin">
				<md-toolbar class="bg-danger">
					<div class="md-toolbar-tools">
						<h2 class="md-flex">Condensed Table</h2>
					</div>
				</md-toolbar>
				<md-content layout-padding>
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Address</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>John</td>
								<td>john@gmail.com</td>
								<td>London, UK</td>
							</tr>
							<tr>
								<td>Andy</td>
								<td>andygmail.com</td>
								<td>Merseyside, UK</td>
							</tr>
							<tr>
								<td>Frank</td>
								<td>frank@gmail.com</td>
								<td>Southampton, UK</td>
							</tr>
						</tbody>
					</table>			
				</md-content>
			</div>
		</div>
		<div class="" flex>
			<div class="panel-margin">
				<md-toolbar class="bg-warning">
					<div class="md-toolbar-tools">
						<h2 class="md-flex">Condensed, Bordered & Hover Table</h2>
					</div>
				</md-toolbar>
				<md-content layout-padding>
					<table class="table table-condensed table-bordered table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Address</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>John</td>
								<td>john@gmail.com</td>
								<td>London, UK</td>
							</tr>
							<tr>
								<td>Andy</td>
								<td>andygmail.com</td>
								<td>Merseyside, UK</td>
							</tr>
							<tr>
								<td>Frank</td>
								<td>frank@gmail.com</td>
								<td>Southampton, UK</td>
							</tr>
						</tbody>
					</table>			
				</md-content>
			</div>
		</div>
	</div>
</div>