<nav class="navbar navbar-inverse navbar-fixed-top striped-bg" id="top-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="sidenav-toggle" href="" ng-click="showMenu();" ><span class="brandbar"><i class="fa fa-bars hidd"></i></a></span>
            <a class="navbar-brand" ui-sref="home"><img src="images/logo.png" alt=""></a>
        </div>
       
        <span class="admin pull-right hidden-xs">

            <!-- BUY NOW BUTTON -->
            <!--<span class="hidden-sm hidden-xs buynow"> <md-button href="http://www.strapui.com/themes/utoo-material-angularjs-theme" target="_blank">{{ 'buynow' | translate }}</md-button>  </span>-->

            <span class="margin-up">

                <!-- COLOR THEME PICKER -->
                <!--<md-menu md-position-mode="target-right target" class="hidden-sm hidden-xs">-->
                    <!--<md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu()">-->
                        <!--<md-icon md-svg-icon="" class="text-primary"></md-icon>-->
                    <!--</md-button>-->
                    <!--<md-menu-content width="2">-->

                        <!-- COLOR SWATCH PICKER-->
                        <!--<table class="table color-swatches-table text-center no-m-b">-->
                        <!--<tr>-->
                            <!--<td>-->
                                <!--<md-menu-item class="topnav-msg green-nav">-->
                                    <!--<md-button ng-click="changeTheme('green')">-->
                                        <!--<md-icon md-svg-icon="images/icons/image/svg/production/ic_camera_48px.svg" class="green-nav"></md-icon>-->
                                    <!--</md-button>-->
                                <!--</md-menu-item>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<md-menu-item class="topnav-msg blue-nav">-->
                                    <!--<md-button ng-click="changeTheme('blue')">-->
                                       <!--<md-icon md-svg-icon="images/icons/image/svg/production/ic_camera_48px.svg" class="blue-nav"></md-icon>-->
                                    <!--</md-button>-->
                                <!--</md-menu-item>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>-->
                                <!--<md-menu-item class="topnav-msg red-nav">-->
                                    <!--<md-button ng-click="changeTheme('red')">-->
                                        <!--<md-icon md-svg-icon="images/icons/image/svg/production/ic_camera_48px.svg" class="red-nav"></md-icon>-->
                                    <!--</md-button>-->
                                <!--</md-menu-item>-->
                            <!--</td>-->
                            <!--<td>-->
                            <!--<md-menu-item class="topnav-msg orange-nav">-->
                                <!--<md-button ng-click="changeTheme('orange')">-->
                                   <!--<md-icon md-svg-icon="images/icons/image/svg/production/ic_camera_48px.svg" class="orange-nav"></md-icon>-->
                                <!--</md-button>-->
                            <!--</md-menu-item>-->
                            <!--</td>-->
                        <!--</tr>-->
                      <!--</table>-->

                    <!--</md-menu-content>-->
                <!--</md-menu>-->
               <!--  <span class="hidden-sm hidden-xs buynow"> <md-button ng-click="rtl()">RTL</md-button>  </span>    -->

                <!-- TOGGLE SNAP MENU SWITCH -->
                <md-switch aria-label="" ng-model="value" ng-change="switchChange()" class="md-switch">
                </md-switch>

                <!-- LANGUAGE WRENCH BUTTON ICON -->
                <!--<md-menu md-position-mode="target-right target">-->
                    <!--<md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu()">-->
                    <!--<md-icon md-svg-icon="images/icons/action/svg/production/ic_build_48px.svg"></md-icon>-->
                    <!--</md-button>-->
                    <!--<md-menu-content width="2">-->
                        <!--<md-menu-item class="topnav-msg">-->
                            <!--<md-button ng-click="changeLanguage('en')">-->
                               <!--English-->
                            <!--</md-button>-->
                        <!--</md-menu-item class="topnav-msg">-->
                        <!--<md-menu-item>-->
                            <!--<md-button ng-click="changeLanguage('de')">-->
                               <!--Dutch-->
                            <!--</md-button>-->
                        <!--</md-menu-item>-->
                    <!--</md-menu-content>-->
                <!--</md-menu>-->

                <!-- NOTIFICATION DROP DOWN -->
                <md-menu md-position-mode="target-right target">
                    <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                    <md-icon md-svg-icon="images/icons/communication/svg/production/ic_email_48px.svg"></md-icon>

                        <!-- BADGE -->
                        <!--<span class="badge bbadge mbadge">6</span>-->

                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item class="topnav-msg">
                            <md-button ng-click="message()">
                                {{ 'newmessage' | translate }} Ana is one her way!
                            </md-button>
                        </md-menu-item class="topnav-msg">
                        <md-menu-item>
                            <md-button ng-click="message()">
                                {{ 'newmessage' | translate }} Elsa is on her way!
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="topnav-msg">
                            <md-button ng-click="message()">
                                {{ 'newmessage' | translate }} Isbelle is on her way!
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="topnav-msg">
                            <md-button ng-click="message()">
                                {{ 'newmessage' | translate }} Coeleen is on her way!
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="topnav-msg">
                            <md-button ng-click="message()">
                                {{ 'newmessage' | translate }} Irina is on her way!
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="topnav-msg">
                            <md-button ng-click="message()">
                                {{ 'newmessage' | translate }} Casey is on her way!
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <!-- NOTIFICATION BUTTON ICON -->
                <md-button ng-click="toggleAlert()" class=""><md-icon md-svg-icon="images/icons/social/svg/production/ic_cake_48px.svg"></md-icon>

                    <!-- BADGE -->
                    <!--<span class="badge bbadge abadge">4</span>-->

                </md-button>

                <!-- RIGHT SLIDE ICON SLIDER BUTTON -->
                <md-button class="" ng-click="toggleRight()">
                <md-icon md-svg-icon="images/icons/navigation/svg/production/ic_menu_48px.svg" ng-click="toggleRight()"></md-icon>
                </md-button>
            </span>
        </span>
    </div>
</nav>